<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-/LWIO4fFX5tFXb7p3cs81+jrWpvbmcTL/JZsmizUZjoquW1+/rKkgif5b/4DVkS/N1kZbsrg1bP4zBZxxpWtUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="row nameSection">
    <div class="col-lg-12">
        <div class="container">
            <!-- <img class="mb-4 profileImage" src="../../assets/images/profile-img.jpg" alt="image"> -->
            <h1 class="nameStyling">Uzair Ashraf</h1>
            <h4 class="cursor-typing">I am a Senior Software Engineer</h4>
            <span class="shortIntro">I build accessible, inclusive products and digital experiences for the web.</span>
        </div>
    </div>
    <div class="col-lg-12 linkedin-icon">
        <i class="fa-brands fa-3x fa-linkedin" style="color: #ffffff;" (click)="openLinkedInProfile()"></i>
    </div>
</div>