h4, h3, h2, h1, span {
    color: #FFFFFF !important;
}

.nameSection{
    margin: 30% 15%;
}

@media screen and (max-width: 1000px) {
  .nameSection{
    margin: 15% 15%;
  }
}

@media screen and (max-width: 650px) {
  .nameSection{
    margin: 10% 8%;
  }
}

.nameStyling{
    text-shadow: 0 0 10px firebrick;
}

.margin-top-100{
    margin-top: 100px;
}

.cursor-typing{
    width: 32ch;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 20px;
}

.shortIntro{
    font-family: monospace;
    font-size: 14px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

